{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}
<div class="container">
        <div class="curriculums">

            <!-- curriculums list -->
            <table>
                    <tr>
                      <th>TIME</th>
                      <th>PATIENT</th>
                      <th>DESCRIPTION</th>
                      <th>FILE</th>

                    </tr>
                    <tr>
                      <td>Alfreds Futterkiste</td>
                      <td>Maria Anders</td>
                      <td>Germany</td>
                      <td><button>Download File</button></td>

                    </tr>

                    <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                            <td><button>Download File</button></td>
      
                          </tr>
                          <tr>
                                <td>Alfreds Futterkiste</td>
                                <td>Maria Anders</td>
                                <td>Germany</td>
                                <td><button>Download File</button></td>
          
                              </tr>
                              <tr>
                                    <td>Alfreds Futterkiste</td>
                                    <td>Maria Anders</td>
                                    <td>Germany</td>
                                    <td><button>Download File</button></td>
              
                                  </tr>
                </table>       
            
                
            
            
            
            </div>
</div>





{% endblock %}