{%extends 'base.html'%}
{%load bootstrap4 %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block content %}
    {{ block.super}}


    <div class="container-fluid">

        <div class="row">
            <!-- navigation -->
            <div class="col-md-3">
                <div class="sidenav">

                    <a href="/sltdash"> <i class="material-icons">dashboard</i> DASHBOARD</a>
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter"> <i class="material-icons">assistant</i></i>SLTAs </a>
                    <a href="{% url 'patientlist' %}"> <i class="material-icons">person</i> PATIENTS</a>
                    <a href="#clients"> <i class="material-icons">description</i>TREATMENT PLANS</a>
                    <a href="{% url 'curriculums' %}">  <i class="material-icons">receipt</i>CURRICULUM</a>
                    <a href="#contact"> <i class="material-icons">reorder</i>REPORTS</a>
                    <a href="/logout">LOGOUT</a>


                </div>
            </div>
            <div class="col-md-9">
                <!-- main-body -->
                <div class="main">
                    <h2>Sidebar</h2>
                    <div class="col-md-3">
                        <!-- trtment plan cards -->
                        <div class="card">
                            <div id="createplans" class="card-body">
                                <i class="material-icons">add</i>
                                <h3>CREATE PLANS</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- patient card -->
                        <a href="{% url 'patientlist' %}"><div class="card">
                            <div id="patients" class="card-body">
                                <i class="material-icons">person</i>
                                <h3>PATIENTS</h3>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-md-3">
                        <!-- cirriculum card -->
                        <a href="{% url 'curriculums' %}" ><div class="card">
                            <div id="curriculum" class="card-body">
                                <i class="material-icons">description</i>
                                <h3>CURRICULUM</h3>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-md-3">
                        <!-- reports card -->
                        <div class="card">
                            <div id="newreports" class="card-body">
                                <i class="material-icons">reorder</i>
                                <h3>NEW REPORTS</h3>
                            </div>
                        </div>
                    </div>
                    <div class="cold">
                        <div class="col-md-6">
                            <!-- notifications card -->
                            <div class="card">
                                <div class="card-body">
                                    <i class="material-icons">notifications</i>
                                    <h3>NOTIFICATIONS</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- sltas card -->
                            <a href="#" ><div data-toggle="modal" data-target="#exampleModalCenter"class="card">
                                <div class="card-body">
                                    <i class="material-icons">location_on</i>
                                    <h3>SLTAs</h3>

                                </div>
                            </div></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade maps" id="exampleModalCenter" tabindex="- 1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {% block extra_assets %}
                        {% leaflet_css %}
                        {% leaflet_js %}
                    {% endblock %}


                    <script type="text/javascript">
                        var collection = {{ locations|geojsonfeature:"popupContent"|safe }};

                        function onEachFeature(feature, layer) {
                            if (feature.properties && feature.properties.popupContent) {
                                layer.bindPopup(feature.properties.popupContent);
                            }
                        }

                        function map_init(map, options) {
                            L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);
                        }
                    </script>
                    {% leaflet_map "sltas" callback="window.map_init" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
