{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}

           
<div class="container-fluid">
        
    <div class="row">
        <!-- navigation -->
        <div class="col-md-3">
            <div class="sidenav">
                
                <a href="#contact"> <i class="material-icons">dashboard</i> DASHBOARD</a>
                <a href="#about"> <i class="material-icons">assistant</i></i>SLTAs </a>
                <a href="#services"> <i class="material-icons">person</i> PATIENTS</a>
                <a href="#clients"> <i class="material-icons">description</i>TREATMENT PLANS</a>
                <a href="#contact">  <i class="material-icons">receipt</i>CURRICULUM</a>
                <a href="#contact"> <i class="material-icons">reorder</i>REPORTS</a>
                <a href="#contact">LOGOUT</a>


            </div>
        </div>
        <div class="col-md-9">
            <!-- main-body -->
            <div class="main">
                <h2>Sidebar</h2>
                <div class="col-md-3">
                    <!-- trtment plan cards -->
                    <div class="card">
                        <div id="createplans" class="card-body">
                            <i class="material-icons">add</i>
                            <h3>CREATE PLANS</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- patient card -->
                        <div class="card">
                            <div id="patients" class="card-body">
                                <i class="material-icons">person</i>
                                <h3>PATIENTS</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- cirriculum card -->
                            <div class="card">
                                <div id="curriculum" class="card-body">
                                    <i class="material-icons">description</i>
                                    <h3>CURRICULUM</h3>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                             <!-- reports card -->
                            <div class="card">
                                <div id="newreports" class="card-body">
                                    <i class="material-icons">reorder</i>
                                    <h3>NEW REPORTS</h3>
                                </div>
                            </div>
                    </div>
                    <div class="cold">
                        <div class="col-md-6">
                            <!-- notifications card -->
                                <div class="card">
                                    <div class="card-body">
                                            <i class="material-icons">notifications</i>
                                        <h3>NOTIFICATIONS</h3>
                                    </div>
                                </div>
                        </div>

                        <div class="col-md-6">
                            <!-- sltas card -->
                                <div class="card">
                                    <div class="card-body">
                                            <i class="material-icons">location_on</i>
                                        <h3>SLTAs</h3>
                                    </div>
                                </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}