{%load bootstrap4%}
{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>Sema-Africa - {{title}}</title>
    {% else %}
    <title> Sema-Africa  </title>
  {% endif %}
  {% block styles %}
    {% bootstrap_css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">



  {% endblock %}

</head>
<body>


    {% block content %}
    <div class="container">
        <div class = "heading">
          <h1 class="heading">SEMA AFRICA</h1>
        </div>


    </div>
    {%endblock%}

    {% block scripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


 {% bootstrap_javascript %}
{% endblock %}

</body>
