{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-6 col-2 h-100 bg-white-2 d-flex align-items-center justify-content-center fixed-top" id="left">
                <img src="../static/assets/SEMA.png">
                <!--h5 class="hidden-xs-down">I'm Fixed</h5-->
            </div>

            <!--div class="col-sm-6 invisible col-2"><!--hidden spacer--><!--div-->
            <div class="col offset-2 offset-sm-6 py-2" id="here">


                <div class="row align-items-center">
                    <div class="col">
                        <div class="jumbotron">
                            <h1>SLT</h1>
                            <a href="#" class="btn btn-block ">SIGN UP </a>
                        </div>


                </div>
                    <div class="row align-items-center">
                    <div class="col">
                        <div class="jumbotron">
                            <h1>SLTA</h1>
                            <a href="#" class="btn btn-block ">SIGN UP </a>
                        </div>


                </div>
                        <div class="row align-items-center">
                    <div class="col">
                        <div class="jumbotron">
                            <h1>GUARDIAN</h1>
                            <a href="#" class="btn btn-block ">SIGN UP </a>
                        </div>


                </div>
                            <div class="row align-items-center">
                    <div class="col">
                        <div class="jumbotron">

                            <a href="#" class="btn btn-block ">login </a>
                        </div>


                </div>


                <!-- class="jumbotron ">
                    <h1>SEMAFIKA</h1>

                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">SLT</h5>

                                <a href="#" class="btn btn-block ">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">SLTA</h5>

                                <a href="#" class="btn btn-block ">SIGN UP</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="log">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">


                                <a href="#" class="btn btn-block ">LOGIN</a>
                            </div>
                        </div>
                    </div>

                </div-->


            </div>
        </div>
    </div>


    <style>
        .row {
            margin-bottom: 50px;
        }
        .btn {
            text-align: center;
            background-color: #F4C127;
        }

        .form-group {
            align-self: center;
            text-align: center;

        }

        #left {
            background-color: chocolate;
        }
        h1 {
            text-align: center;
            font-weight: bolder;
            font-family: FontAwesome ;
        }


        #log{
            background-color: #F4C127;
            position: center;
            align-content: center;
            align-self: center;
            align-items: center;
            alignment: center;
            border-bottom-color: black;

        }
        #here{
            text-align: center;
            font-weight: bolder;
            font-family: FontAwesome ;
        }
    </style>
{% endblock %}